<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Tugas Ajax</title>
</head>

<body>
    <div  id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>FORM</h2>
                    <form @submit.prevent="submitMember()">
                        <p v-if="errors.length">
                            <b>Please Correct the following errors : </b>
                            <ul>
                                <li v-for="error in errors">{{error}}</li>
                            </ul>
                        </p>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input :disabled="buttonStatus === 'upload'" type="text" class="form-control" id="name" v-model="name" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input :disabled="buttonStatus === 'upload'"  type="text" class="form-control" id="address" v-model="address">
                        </div>
                        <div class="form-group">
                            <label for="no_hp">No HP</label>
                            <input :disabled="buttonStatus === 'upload'"  type="number" class="form-control" id="no_hp" v-model="no_hp">
                        </div>
                        <div v-if="buttonStatus === 'submit'">
                            <button type="submit" class="btn btn-primary">Tambah</button>
                        </div>
                        <div v-else-if="buttonStatus === 'update'">
                            <button type="button" class="btn btn-primary" @click="updateMember(idEditMember)">Update</button>
                            <button type="button" class="btn btn-danger" @click="clearForm()">Kembali</button>
                        </div>
                        <div v-else>
                            <input type="file" class="form-control mb-2" name="photo_profile" ref="photo_profile" id="">
                            <button type="button" class="btn btn-primary" @click="updateUploadPhoto(idEditMember)">Upload</button>
                            <button type="button" class="btn btn-danger" @click="clearForm()">Kembali</button>
                        </div>
                        
                    </form>
                </div>
                <div class="col-md-7">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">No Hp</th>
                                <th scope="col">Photo Profile</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(member, index) in members" >
                                <td>{{index+1}}</td>
                                <td>{{member.name}}</td>
                                <td>{{member.address}}</td>
                                <td>{{member.no_hp}}</td>
                                <td><img width="300px" :src="member.photo_profile ? domain+member.photo_profile : 'https://picsum.photos/seed/picsum/200/300'" alt=""></td>
                                <td>
                                    <button class="btn btn-primary btn-sm" @click="editMember(member)">Edit</button>
                                    <button class="btn btn-danger btn-sm my-2" @click="deleteMember(member.id)">Hapus</button>
                                    <button class="btn btn-secondary btn-sm my-2" @click="uploadPhoto(member)">Upload Foto</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                members: [],
                domain: "http://demo-api-vue.sanbercloud.com",
                name:"",
                address:"",
                no_hp:"",
                errors:[],
                idEditMember : null,
                buttonStatus: "submit"
            },
            methods: {
                getMembers: function () {
                    const config = {
                        method: 'get',
                        url: this.domain + '/api/member',
                        
                    };
                    axios(config)
                    .then((response) => {
                        this.members=response.data.members
                        console.log(this.members);
                    })
                    .catch((err)=> {
                        // handle error
                        console.log(err);
                    })
                },
                validationForm : function() {
                    this.errors=[]

                    if(this.name.length<5){
                        this.errors.push('Nama minimal 5 karakter')
                    }

                    if(this.address.length<5){
                        this.errors.push('Alamat minimal 5 karakter')
                    }
                },
                clearForm : function() {
                    this.name = "",
                    this.address = "",
                    this.no_hp = "",
                    this.buttonStatus = "submit",
                    this.idEditMember = null
                },
                submitMember : function() {
                    this.validationForm();

                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    if(this.errors.length === 0) {
                        const config = {
                            method: 'post',
                            url: this.domain + "/api/member",
                            data: formData
                        };
                        axios(config)
                        .then((response) => {
                            this.getMembers();
                            this.clearForm();
                            alert(response.data.message);
                        })
                        .catch((err)=> {
                            // handle error
                            console.log(err);
                        })
                    }
                },
                editMember : function(member) {
                    this.name = member.name;
                    this.address = member.address;
                    this.no_hp = member.no_hp;
                    this.idEditMember = member.id;
                    this.buttonStatus = 'update';
                },
                updateMember : function(id) {
                    this.validationForm();

                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    if(this.errors.length === 0) {
                        const config = {
                            method: 'post',
                            url: this.domain + "/api/member/"+id,
                            data: formData,
                            params: {_method : 'PUT'}
                        };
                        axios(config)
                        .then((response) => {
                            this.getMembers();
                            this.clearForm();
                            alert(response.data.message);
                        })
                        .catch((err)=> {
                            // handle error
                            console.log(err);
                        })
                    }
                },
                deleteMember : function(id) {
                    const config = {
                        method: 'post',
                        url: this.domain + "/api/member/"+id,
                        params: {_method : 'DELETE'}
                    };
                    axios(config)
                    .then((response) => {
                        this.getMembers();
                        this.clearForm();
                        alert(response.data.message);
                    })
                    .catch((err)=> {
                        // handle error
                        console.log(err);
                    })    
                }, 
                uploadPhoto: function(member){
                    this.name = member.name;
                    this.address = member.address;
                    this.no_hp = member.no_hp;
                    this.idEditMember = member.id;
                    this.buttonStatus = 'upload';
                },
                updateUploadPhoto: function(id){
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    const config = {
                        method: 'post',
                        url: this.domain + "/api/member/"+id+"/upload-photo-profile",
                        data: formData, 
                    };
                    axios(config)
                    .then((response) => {
                        this.getMembers();
                        this.clearForm();
                        alert(response.data.message);
                    })
                    .catch((err)=> {
                        // handle error
                        console.log(err);
                    })  
                }
            },
            created() {
                this.getMembers();
            }
        })
    </script>
</body>

</html>