<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- <input type="text" v-model="fullName">
        <p>{{fullName}}</p> -->

        <button type="button" onclick="vm.openForm()">Open Form</button>
        <h1 >{{ 'Nilai a : ' + nilai }}</h1>
        <h1 >{{ 'Rata-rata : ' + total }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                fullName: "",
                nilai : 0,
                total : 0
            },
            methods: {
                openForm : function(){
                    var count = 0
                    while(this.nilai<10) {
                        this.nilai = this.nilai + parseInt(prompt("Masukkan Nilai a "))
                        count++
                    }
                    this.total = this.nilai/count
                }
            }
        })
    </script>
</body>

</html>