<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz 2</title>
    <!-- Menyisipkan Vuejs dari CDN -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
</head>

<body>

    <!-- elemen kontainer untuk aplikasi -->
    <div id="app">
        <input type="text" v-model:value="newName" />
        <button v-if="savebtn" @click.prevent="addName">Add</button>
        <button v-if="updatebtn" @click.prevent="updateName(biodata.name)">Update</button>
        <ul>
            <li v-for="(item, index) in biodata" >
                {{ item.name }} <button @click="editName(index)">Edit</button> || <button @click="removeName(index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                newName: "",
                biodata: [{
                        name: "Muhammad Iqbal Mubarok"
                    },
                    {
                        name: "Ruby Purwanti"
                    },
                    {
                        name: "Faqih Muhammad"
                    },
                ],
                savebtn: true,
                updatebtn: false
            },
            methods: {
                addName: function () {
                    this.biodata.push({'name': this.newName});
                    this.newName = "";
                },
                removeName: function(index) {
                    if (confirm("Anda yakin?")) {
                        this.biodata.splice(index, 1);
                    }
                },
                editName: function(index) {
                    this.savebtn=false
                    this.updatebtn=true
                    this.newName=this.biodata[index].name

                },
                updateName: function(name) {
                    const i = 0
                    while(i<10) {
                        if(name==this.biodata[i].name) {
                            Object.assign(this.biodata[i].name)
                        }
                    }

                    // mas aku gabisa bikin update TT
                }
            }
        })
    </script>
</body>

</html>